<div class="container">
  <div class="user-details">
    <h3> Projetos em destaque </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="iSIGA - FAGOC" src="{{ "/assets/img/i-siga-1.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> iSIGA - FAGOC </h5>
      <li> iOS </li>
      <li> Swift </li>
      <p></p>
      <a class="project-link" href="https://itunes.apple.com/br/app/isiga/id1114942773?mt=8">Confira</a>
    </div>
  </div>
    
  <div class="row user-projects">  </div>
  
</div>
